<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <script src="js/vue.js" type=""></script>
    <link rel="stylesheet" href="css/all.css">
    <link href="https://fonts.googleapis.com/css?family=Lato&display=swap" rel="stylesheet">
</head>
<body>
    <div id="app">
        <div class="nav" :class="{ 'active' : !(menu === 'close')}">
            <div class="bar">
                <ul>
                    <li><a href="#" id="add" :class="{'active' : menu === 'add'}" @click.prevent="menu = 'add'"></a></li>
                    <li><a href="#" id="list" :class="{'active' : menu === 'list'}" @click.prevent="menu = 'list'"></a></li>
                    <li><a href="#" id="analytics" :class="{'active' : menu === 'analytics'}" @click.prevent="menu = 'analytics'"></a></li>
                    <li><a href="#" id="ringtone" :class="{'active' : menu === 'ringtone'}" @click.prevent="menu = 'ringtone'"></a></li>
                    <li @click="menu === 'close'? menu = 'add' : menu = 'close'"><a href="#" id="hamburger" @click.prevent></a></li>
                </ul>
            </div>
            
            <div class="content" v-if="!(menu === 'close')">
                <div class="addBar"  v-if="menu === 'add'">
                    <h1>ADD NEW TASK</h1>
                    <div class="editZone">
                        <label for="task">TASK TITLE</label>
                        <input type="text" name="task" placeholder="My Second Task" v-model="addTodoBar.newTodo">
                        <label>ESTIMATED TOMATO</label>
                        <ul>
                            <li class="tomato" :class="{'red' : addTodoBar.newTomato > key}" v-for="(item, key) in 10"><a href="#" @click.prevent="addTodoBar.newTomato = key+1"></a></li>
                        </ul>
                        <button type="submit" @click="addTodo">ADD TASK</button>
                    </div>
                </div>

                <div class="listBar" v-if="menu === 'list'">
                    <h1>TASK LISTS</h1>
                    <ul class="listnav">
                        <li :class="{'active': listnav === 'todo'}" @click.prevent="listnav='todo'"><a href="#" @click.prevent>TO DO</a></li>
                        <li :class="{'active': listnav === 'done'}" @click.prevent="listnav='done'"><a href="#" @click.prevent>DONE</a></li>
                    </ul>

                    <ul class="todolist">
                        <li v-for="(item, key) in todosfilter" :class="{'editing': item.title === cacheTitle}" @click="stopCountDown(), seleteList(item)">
                            <a href="#" :class="{'now': item.seleted, 'done': item.breakTime === 0}" @click.prevent></a>
                            <h3>{{ item.title }}</h3>
                            <ul class="progress">
                                <li v-for="(tomatos, key) in item.needTomato" 
                                :class="{'completed': item.tomatoProgress > key || 
                                (item.tomatoProgress === key && (timeInitial.taskTime - item.workTime) / timeInitial.taskTime > 1/2)}">
                                    <span :style="smallTomato(key, item)"></span>
                                </li>
                            </ul>
                            <a href="#" class="edit" @click.prevent="editTodo(item)" :class="{'editIcon':item.title === cacheTitle}">...</a>

                            <!-- 列表編輯處 -->
                            <div class="editZone" v-if="item.title === cacheTitle && listnav === 'todo'">
                                <label for="task">TASK TITLE</label>
                                <input type="text" name="task" placeholder="My Second Task" v-model="cacheTitle">
                                <label>ESTIMATED TOMATO</label>
                                <ul>
                                    <li class="tomato" v-for="(item, key) in 10" :class="{'red' : cacheTomato > key}">
                                        <a href="#" @click.prevent="cacheTomato = key+1"></a>
                                    </li>
                                </ul>
                                <button type="reset" @click.prevent="removeTodo(key)">DELETE</button>
                                <button @click.prevent="editDone(item)">SAVE</button>  
                            </div>
                            <div class="editZone" v-if="item.title === cacheTitle && listnav === 'done'">
                                <label></label>
                                <button type="reset" @click.prevent="removeTodo(key)">DELETE</button>
                                <button @click.prevent="item.tomatoProgress = 0, item.workTime = 1500, item.breakTime = 300,editTodo(item)">REDO</button>  
                            </div>
                        </li>
                    </ul>
                </div>

                <div class="analytics" v-if="menu === 'analytics'">
                    <h1>ANALYTICS REPORT</h1>
                    <h2>TOMATO OF THIS WEEK</h2>
                    <ul class="week">
                        <li>{{ completedTomatos }}<p>TODAY</p></li>
                        <li>{{ datefilter.reduce(function(a,b){return a + b.tomato}, 0) }}<p>{{ datefilter[0].ID +'~'+ datefilter[datefilter.length-1].ID }}</p></li>
                    </ul>
                    <h2>CHART<p>{{ datefilter[0].ID +'~'+ datefilter[datefilter.length-1].ID }}</p></h2>
                    <div class="chart">
                        <ul class="chartImage">
                            <li v-for="item in datefilter">
                                <span v-for="tomato in item.tomato"></span>
                                <p>{{ item.tomato }}</p>
                            </li>
                        </ul>
                        <ul class="date">
                            <li v-for="item in datefilter">
                                <h3>{{item.ID}}<p>{{item.day}}</p></h3>
                            </li>
                        </ul>
                    </div>
                    <div class="anabtn">
                        <button class="prev" @click="datebtn += 1">PREV</button>
                        <button class="next" @click="function(){if(datebtn > 0){datebtn -= 1}}" 
                            :disabled="1 > datebtn" :class="{'disabled': 1 > datebtn}">NEXT</button>
                    </div>
                </div>

                <div class="ringtone" v-show="menu === 'ringtone'">
                    <h1>RING TONG</h1>
                    <ul class="ringtoneNav">
                        <li :class="{'active': ringtoneNav === 'work'}" @click.prevent="ringtoneNav='work'"><a href="#" @click.prevent>WORK</a></li>
                        <li :class="{'active': ringtoneNav === 'break'}" @click.prevent="ringtoneNav='break'"><a href="#" @click.prevent>BREAK</a></li>
                    </ul>

                    <ul class="ringtoneWrap">
                        <li v-for="(item, key) in workMusic" v-if="ringtoneNav === 'work'" :class="{'work':ringtoneNav === 'work'}">
                            <a href="#" @click.prevent="rtSelete(item)" class="rtSelete" :class="{'rtNow':item.seleted}"></a>
                            <h3 @click="rtSelete(item)">{{item.title}}</h3>
                            <audio class="audio" :src="item.src" type="audio/mpeg" loop></audio>
                            <a href="#" @click.prevent="playAudio(key)" class="rtPlay" :class="{'rtPlaying': item.isPlay}">
                                <div class="right" v-if="item.isPlay">
                                    <div class="rightCircle" :style="musicTimeR"></div>
                                </div>
                                <div class="left" v-if="item.isPlay">
                                    <div class="leftCircle" :style="musicTimeL"></div>
                                </div>
                            </a>
                        </li>

                        <li v-for="(item, key) in breakMusic" v-if="ringtoneNav === 'break'" :class="{'break':ringtoneNav === 'break'}">
                            <a href="#" @click.prevent="rtSelete(item)" class="rtSelete" :class="{'rtNow':item.seleted}"></a>
                            <h3 @click="rtSelete(item)">{{item.title}}</h3>
                            <audio class="audio" :src="item.src" type="audio/mpeg" loop></audio>
                            <a href="#" @click.prevent="playAudio(key)" class="rtPlay" :class="{'rtPlaying': item.isPlay}">
                                <div class="right" v-if="item.isPlay">
                                    <div class="rightCircle" :style="musicTimeR"></div>
                                </div>
                                <div class="left" v-if="item.isPlay">
                                    <div class="leftCircle" :style="musicTimeL"></div>
                                </div>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>

        <div class="main">
            <div class="initial" v-if="!isNaN(mainfilter)">
                <div class="podomoro">
                    <h1>PODOMORO</h1>
                </div>
                <h3>You don’t have any task now,<br> please add task first!</p>
                <p>PODOMORO</p>
            </div>
            <div class="running" v-else>
                <h1>{{mainfilter[0].title}}</h1>
                <ul class="tomatoQuantity">
                    <li v-for="(item, key) in mainfilter[0].needTomato" 
                    :class="{'completed': mainfilter[0].tomatoProgress > key || 
                    (mainfilter[0].tomatoProgress === key && (timeInitial.taskTime - mainfilter[0].workTime) / timeInitial.taskTime > 5/8)}"
                    v-if="tomatoMode === 'work'">
                        <span :style="smallTomato(key)"></span>
                    </li>
                    <li v-if="tomatoMode === 'rest'" :class="{'rest':tomatoMode === 'rest'}">BREAK</li>
                </ul>
                <div class="clock" :class="{'rest': tomatoMode === 'rest'}">
                    {{ clockTime }}
                    <div class="right">
                        <div class="rightCircle" :style="clockTimeR" :class="{'work': tomatoMode === 'work', 'rest': tomatoMode === 'rest'}"></div>
                    </div>
                    <div class="left">
                        <div class="leftCircle" :style="clockTimeL" :class="{'work': tomatoMode === 'work', 'rest': tomatoMode === 'rest'}"></div>
                    </div>
                </div>
                <ul class="playBar">
                    <li><button href="#" id="play" @click.prevent="countDown(), playBar.status = true" 
                        :class="{'workPlayMode': playBar.status && tomatoMode === 'work', 
                        'restPlayMode': tomatoMode === 'rest' && playBar.status}"></button></li>
                    <li><button href="#" id="pause" @click.prevent="stopCountDown(), playBar.status = false" :class="{'restPlayMode': tomatoMode === 'rest'}"></button></li>
                    <li><button href="#" id="stop" @click.prevent="resetCountDown(), playBar.status= false" :class="{'restPlayMode': tomatoMode === 'rest'}"></button></li>
                </ul>
                <h3>TASK COMPLETE</h3>
                <p>PODOMORO</p>
            </div>
        </div>

        <div class="alarmStop" v-if="alert === 'alarm'">
            <div class="alert">
                <h2>It's time</h2>
                <p>click the button and stop alarm</p>
                <button 
                @click="alert = '', stopAlarm()">Continue</button>
            </div>
        </div>
    </div>

    <script src="js/all.js"></script>
</body>
</html>